<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
@media (min-width: 768px){
  .product-single .col-sm-7 {
      border: 1px solid #ececec;
      padding-left:0;
  }
  .left .piko-nav.slick-vertical{
     border-right: 1px solid #ececec;
    height:100%;
    
  }


  .piko-nav .slick-slide{
  	 border-bottom: 1px solid #ececec;
  }


}
   

.shear-brand{
 margin-bottom: 10px; 
}</style>
<!-- end Simple Custom CSS and JS -->
