<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.woocommerce-store-notice{
 display:none !important; 
}

.justify-content-center{
 justify-content:center; 
}
.product-meta .product-brand .product_meta{
  width: 210px !important;
}
.vc_tta-tab.vc_active .vc_tta-title-text{
  
  color:#797979 !important;
}

@media (min-width: 768px){
#contact_footer .vc_col-sm-6 {
   width:100%!important;
}
  .col-md-2 .title-footer{
    padding-left: 39px;
  }
}
#contact_footer input{
		border: none!important;
		background: #2b2a2a!important;
		margin-bottom: 10px;
		width: 100%!important;
		color:#fff!important;
		font-size: 13px!important;
  		
		
	}

#contact_footer textarea{
		border: none!important;
		background: #2b2a2a!important;
		margin-bottom: 10px;
		width: 100%!important;
		color:#fff!important;
		font-size: 13px!important;
  		
		
	}
#contact_footer input::-webkit-input-placeholder {
  font-size: 12px;
}

#contact_footer input:-ms-input-placeholder {
  font-size: 12px;
}

#contact_footer textarea::-moz-placeholder {
  font-size: 12px;
}

#contact_footer textarea::-webkit-input-placeholder {
  font-size: 12px;
}

#contact_footer textarea:-ms-input-placeholder {
  font-size: 12px;
}

#contact_footer input::-moz-placeholder {
  font-size: 12px;
}

#contact_footer .vc_column-inner{
 padding: 0 !important; 
}

#contact_footer .wpcf7-submit{
  background: #cb891c !important;
  margin-bottom: 0px;
}

.woocommerce-cart-form__cart-item img{
  height: 145px;
    object-fit: contain;
    width: 110px;
}
@media (min-width: 768px){
  .dropdown.login-dropdown .dropdown-menu{
    height: 550px;
  }
  .header-dropdown ul li img{
        margin-bottom: 10px;
  }
  .header-dropdown .product_list_widget li a:not(.remove){
    
    padding-left:0 !important;
  }
  .header-dropdown .product_list_widget .quantity{
     padding-left:0 !important;
     padding-top:0 !important;
  }
  
  
  .product-column img{
  	height: 200px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
}
  .chosen-container{
        width: 100%;
  }
  .widget_shopping_cart_content p.total{
        float: inherit !important;
  }
  .widget_shopping_cart_content p.buttons{
    	  text-align: center;
    float: inherit !important;
    width: 100%;
  }
    
}



.dropdown-menu{
    z-index: -1 !important;
}

header .dropdown:hover .dropdown-menu{
  z-index: 999 !important 
}

.footer-logo{
 margin-bottom: 20px; 
}
@media (min-width: 992px){
.header-search-container .form-control {
    padding-left: 285px !important;
}
}

.header-search-container .chosen-container-single .chosen-single{
 width:auto!important 
}

@media (min-width: 992px){
.header-search-container .chosen-container .chosen-drop {
  width:auto!important 
}
}

.chosen-container .chosen-results li.active-result {
    display: flex !important;
    cursor: pointer;
    justify-content: flex-start !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    width: 100%;
}
.active-result.level-0{
      color: #000000 !important;
}
.block-header h2{
 text-align: left !important;
  text-shadow: 1px 1px 0 #ececec, -1px -1px 0 #ececec, 1px -1px 0 #ececec, -1px 1px 0 #ececec, 1px 1px 0 #ececec;|
}
.pikoworks_widget_brands .cat-item a{
 border-bottom: 1px solid #f0f0f0;
  display:block;
    padding: 4px 20px;
}
.block-header h2 a{

  text-shadow: none !important;
}

.title-wrap .product-title{
      height: 43px !important;
      line-height: 1.6 !important;
    max-height: 44.6px !important;
}

.margin-left-auto{
 margin-left:auto; 
}

.d-flexing{
 display:flex; 
}

.p-l-15{
 padding-left:15px; 
}

.p-r-15{
 padding-right:15px; 
}
.woocommerce-toolbar-inner{
 display:flex; 
}
.shop_table tbody tr.cart_item td{
 padding:3px !important; 
}

.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions{
 display:flex;
 justify-content:center;
}</style>
<!-- end Simple Custom CSS and JS -->
