<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.header-dropdown .product_list_widget li a:not(.remove){
      display: block;
}

@media (min-width: 768px){
	.header-dropdown ul li img {
  		    height: 100px;
    		width: 100px;
	}
  .header-dropdown .product_list_widget li a:not(.remove){
   	height: auto !important; 
  }
  .header-dropdown .product_list_widget .quantity{
    position: absolute;
    z-index: 999999999;
        bottom: 0;
    right: 0;
  }
  .shop_table.woocommerce-checkout-review-order-table tbody tr.cart_item td.product-name
  
  {
    padding-left: 10px;
  }
  
}

.product_list_widget li a.remove{
      top: 0;
    width: 30px;
    position: absolute;
    z-index: 99999999999999999999;
    right: 0;
    height: 30px;
    opacity: 1;
    left: auto !important;
}

.off-canvas-cart .header-dropdown{
 
  z-index: 1;
}

.woocommerce-mini-cart{
      z-index: 99999999999999;
}</style>
<!-- end Simple Custom CSS and JS -->
