<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.cat_has_no_posts{
 display:none!important 
}

.woocommerce-product-details__short-description img{
 width:100px !important;
 height:100px !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
